@import "../../index.scss";

.header {
	&__top {
		padding: 21px 0;
		background: $black;
	}
	&__body {
		padding: 17px 0;
	}
}
.top-header {
	&__inner {
		display: grid;
		grid-template-columns: 190px auto auto 75px;
	}
	&__contact {
		@include center;
		& a {
			@include flex;
			align-items: center;
		}
	}
	&__contactIcon,
	&__user,
	&__cart {
		display: inline-block;
		width: 28px;
		height: 28px;
		position: relative;
		@media (min-width: 1024px) {
			&:hover svg {
				fill: $gray;
			}
		}
		& svg {
			fill: $white;
			transition: all 0.3s ease;
		}
	}
	&__contactIcon {
		& svg {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}
	&__contactNumber {
		display: inline-block;
		font-family: "TrebuchetBold";
		font-style: normal;
		font-size: 20px;
		line-height: 23px;
		color: $white;
		transition: all 0.3s ease;
		@media (min-width: 1024px) {
			&:hover {
				color: $gray;
			}
		}
	}
	&__actions {
		margin-left: auto;
	}
	&__user {
		margin-right: 15px;
	}
	&__cart {
	}
}

.nav {
	@include flex;
	&__list {
		flex: 1 1 auto;
		@include flex;
		justify-content: space-around;
	}
	&__item {
		& a {
			display: inline-block;
			font-family: "TrebuchetBold";
			font-size: 16px;
			line-height: 19px;
			color: $black;
			transition: color 0.3s ease;
			position: relative;
			@media (min-width: 1024px) {
				&:hover {
					color: $orange1;
				}
			}
		}
	}
	&__socialList {
		@include flex;
	}
	&__socialItem {
		&:not(:last-child) {
			margin-right: 10px;
		}
		& a {
			display: inline-block;
			width: 23px;
			height: 23px;
			position: relative;
			@media (min-width: 1024px) {
				&:hover svg {
					transform: translate(0, -3px);
				}
			}
		}
		& svg {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			fill: transparent;
			transition: transform 0.3s ease;
		}
	}
}
