@import "../../index.scss";

.formControl.error input,
.formControl.error textarea {
	border-bottom: 1px solid red;
	box-shadow: 0px 2px 1px -1px red;
}

.formControl {
	position: relative;
	@include flex;
	align-items: center;
}

.formControl.error span {
	display: inline-block;
	position: absolute;
	top: -15px;
	right: 0;
	color: red;
	padding: 5px 9px;
	border: 1px solid $white04;
	border-radius: 5px;
}

.formControl__item {
	position: relative;
	max-width: 418px;
	width: 100%;
}

.formControl__itemTextarea {
	position: relative;
	max-width: 660px;
	width: 100%;
}

.formControl__item input,
.formControl__itemTextarea textarea {
	width: inherit;
	background: #ffffff;
	border: 1px solid rgba(42, 42, 42, 0.38);
	border-radius: 9px;
}

.formControl__item input {
	display: block;
	height: 50px;
	position: relative;
	padding: 16px 20px;
}

.formControl__item input:focus {
	border: 1px solid #4fbb65;
}

.formControl__item textarea {
	resize: vertical;
}
